@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --ff-sans: 'Roboto', sans-serif;
    --ff-mono: 'Ubuntu Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 700;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --clr-primaryRed: #B90012;
    --clr-darkRed: #520008;
    --clr-brightRed: #FF5C6C;
    --clr-grey: #fcfcfc;
    --clr-black: #202020;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

nav { display: none;}

body {
    background: var(--clr-black);
    color: white;
    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    line-height: 1.6rem;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    font-weight: var(--fw-bold);
    display: block;
}

.section__subtitle {
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-primaryRed);
    color: white;
}

section.my-skills,
section.my-work {
    background: var(--clr-grey);
    color: #2F2D2E;
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0px auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .section__title {
        grid-area: title;
    }
    .section__subtitle {
        grid-area: subtitle;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
    }
}